Import libraries and read the toronto dataframe from Part 1

In [22]:
import pandas as pd
toronto_df = pd.read_csv('toronto_df.csv')
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M7A  Downtown Toronto      Queen's Park
4      M9A      Queen's Park      Queen's Park

Now, read the geocode dataframe.

In [23]:
geocode_df = pd.read_csv('Geospatial_Coordinates.csv')
geocode_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [24]:
# We will do a inner join later on the Postcode column.
# Change the column name in the geocode dataframe so that column names
# are same in both dataframes
geocode_df.rename(axis=1, inplace=True, mapper={'Postal Code': 'Postcode'})
geocode_df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Now do an inner join using Postcode as the index. Merge both dataframes

In [25]:
toronto_df = toronto_df.join(geocode_df.set_index('Postcode'), 
                               on='Postcode', how='inner')

In [26]:
toronto_df.to_csv('toronto_df_longlat.csv', index=False)

In [27]:
# Finally look at the final datatframe
toronto_df.head()

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M7A  Downtown Toronto      Queen's Park  43.662301 -79.389494
4      M9A      Queen's Park      Queen's Park  43.667856 -79.532242