In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.axes._axes as axes
sns.set()

In [2]:
df = pd.read_csv('appointment.csv')
df.head(1)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [4]:
df.rename(lambda name: name.lower(), axis=1, inplace=True)
df.head(1)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No

In [5]:
df['no-show'] = df['no-show'].map({'No': 0, 'Yes': 1})
df.head(1)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,0

In [6]:
df.drop(['patientid', 'appointmentid'], axis=1, inplace=True)

In [7]:
df.head(1)

,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show
0,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 12 columns):
gender            110527 non-null object
scheduledday      110527 non-null object
appointmentday    110527 non-null object
age               110527 non-null int64
neighbourhood     110527 non-null object
scholarship       110527 non-null int64
hipertension      110527 non-null int64
diabetes          110527 non-null int64
alcoholism        110527 non-null int64
handcap           110527 non-null int64
sms_received      110527 non-null int64
no-show           110527 non-null int64
dtypes: int64(8), object(4)
memory usage: 10.1+ MB

In [9]:
df.appointmentday = pd.to_datetime(df.appointmentday)

In [10]:
df.scheduledday = pd.to_datetime(df.scheduledday)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 12 columns):
gender            110527 non-null object
scheduledday      110527 non-null datetime64[ns, UTC]
appointmentday    110527 non-null datetime64[ns, UTC]
age               110527 non-null int64
neighbourhood     110527 non-null object
scholarship       110527 non-null int64
hipertension      110527 non-null int64
diabetes          110527 non-null int64
alcoholism        110527 non-null int64
handcap           110527 non-null int64
sms_received      110527 non-null int64
no-show           110527 non-null int64
dtypes: datetime64[ns, UTC](2), int64(8), object(2)
memory usage: 10.1+ MB

In [12]:
df.columns.get_loc('scheduledday')

1

In [13]:
df.scheduledday.dt.hour

0         18
1         16
2         16
3         17
4         16
5          8
6         15
7         15
8          8
9         12
10        14
11         8
12        11
13        14
14        10
15         8
16         8
17         9
18        10
19        10
20         7
21        10
22        13
23        10
24        14
25        15
26        14
27        10
28        15
29        15
          ..
110497     9
110498    10
110499     9
110500     9
110501    10
110502    10
110503    13
110504    11
110505    10
110506    11
110507     9
110508     9
110509     8
110510     9
110511     8
110512     8
110513     7
110514     8
110515    15
110516     7
110517     7
110518    15
110519    15
110520     7
110521     8
110522     9
110523     7
110524    16
110525    15
110526    13
Name: scheduledday, Length: 110527, dtype: int64

In [14]:
monthSeries = df['scheduledday'].dt.month_name()
monthSeries

0         April
1         April
2         April
3         April
4         April
5         April
6         April
7         April
8         April
9         April
10        April
11        April
12        April
13        April
14        April
15        April
16        April
17        April
18        April
19        April
20        April
21        April
22        April
23        April
24        April
25        April
26        April
27        April
28        April
29        April
          ...
110497     June
110498     June
110499     June
110500     June
110501     June
110502     June
110503     June
110504     June
110505     June
110506     June
110507     June
110508     June
110509     June
110510     June
110511     June
110512     June
110513     June
110514     June
110515     June
110516     June
110517     June
110518    April
110519    April
110520      May
110521      May
110522      May
110523      May
110524    April
110525    April
110526    April
Name: scheduledday, Length: 110527, dtype: object

In [15]:
colname = ['scheduledday', 'appointmentday']
for col in colname:
    year_colname = col[0:6] + '_year'
    month_colname = col[0:6] + '_month'
    day_colname = col[0:6] + '_day'
    hr_colname = col[0:6] + '_hr'
    names = [year_colname, month_colname, day_colname, hr_colname]
    
    year_series = df[col].dt.year
    month_series = df[col].dt.month_name()
    day_series = df[col].dt.weekday_name
    hr_series = df[col].dt.hour
    values = [year_series, month_series, day_series, hr_series]
    
    
    position = df.columns.get_loc(col) + 1
    for name, value in zip(names, values):
        df.insert(loc=position, column=name, value=value)
        position += 1

In [16]:
df.head(2)

,gender,scheduledday,schedu_year,schedu_month,schedu_day,schedu_hr,appointmentday,appoin_year,appoin_month,appoin_day,appoin_hr,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show
0,F,2016-04-29 18:38:08+00:00,2016,April,Friday,18,2016-04-29 00:00:00+00:00,2016,April,Friday,0,62,JARDIM DA PENHA,0,1,0,0,0,0,0
1,M,2016-04-29 16:08:27+00:00,2016,April,Friday,16,2016-04-29 00:00:00+00:00,2016,April,Friday,0,56,JARDIM DA PENHA,0,0,0,0,0,0,0

In [17]:
df.drop(labels=colname, axis=1, inplace=True)

In [18]:
df.appoin_hr.value_counts()

0    110527
Name: appoin_hr, dtype: int64

In [19]:
df.drop(labels='appoin_hr', axis=1, inplace=True)

In [20]:
df.groupby('schedu_day').sum()

,schedu_year,schedu_hr,appoin_year,age,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show
schedu_day,,,,,,,,,,,
Friday,38132640,197878,38132640,715549,1752,3710,1344,648,426,7322,3887
Monday,46539344,253584,46539360,852215,2276,4488,1627,701,493,6309,4561
Saturday,48384,252,48384,927,3,5,3,0,0,4,1
Thursday,36435167,197200,36435168,676654,1772,3720,1363,528,415,6256,3700
Tuesday,52754643,282100,52754688,972843,2566,5365,1997,746,630,7959,5291
Wednesday,48912192,259861,48912192,881134,2492,4513,1609,737,495,7632,4879

In [24]:
df['schedu_day'].value_counts().index
sns.d

Index(['Tuesday', 'Wednesday', 'Monday', 'Friday', 'Thursday', 'Saturday'], dtype='object')